# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.kwks
*.keystore
/android/app/build/
/android/app/src/main/res/raw/google_services.json
/node_modules

# iOS
Pods/
.http.json
DerivedData/
Runner.xcworkspace
/ios/Runner/GoogleService-Info.plist

# Functions
functions/node_modules/
functions/.env*

# IDEs
.idea/
.vscode/
*.iml